ul{
    margin: 10px;
}

img {
    margin: 20px;
}

.btn-warning{
    margin-top: 20px;
}
.btn-row {
  margin-bottom: 20px;
}
.table, .btn-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  .table {
    flex-direction: column;
  }
}
