button{
    margin: 5px;
}
p {
    margin: 5px;
    font-size: 20px;
}
.list-item {
  width: 170px;
  display: inline-block;
}
.cart-text {
  position: relative;
  left: 50px;
  bottom: 35px;

}
.cart-img {
  width: 170px;
}
.cart-name {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.cart-minus {
  position: relative;
  left: 80px;
  bottom: 73px;

}
.cart-delete {
  position: relative;
  left: 130px;
  bottom: 113px;
}
